<section class="section">
  <h3>Daten</h3>
  <table>
    <tr>
      <th>Marke</th><td>Mercedes-Benz</td>
    </tr>
    <tr>
      <th>Modell</th><td>E 200 CDI</td>
    </tr>
    <tr>
      <th>Erstzulassung</th><td>04.2009</td>
    </tr>
    <tr>
      <th>Kilometerstand</th><td>110.000</td>
    </tr>
    <tr>
      <th>Kraftstoff</th><td>Diesel</td>
    </tr>
    <tr>
      <th>Getriebe</th><td>Automatik</td>
    </tr>
    <tr>
      <th>Leistung/ PS</th><td>136 PS (100 KW)</td>
    </tr>
    <tr>
      <th>Anzahl der Vorbesitzer</th><td>1</td>
    </tr>
    <tr>
      <th>Linie</th><td>Elegance</td>
    </tr>
    <tr>
      <th>Farbe</th><td>Grau</td>
    </tr>
  </table>

